/*------- Global ---------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}



body{
    background-image: url(./assest/pexels-element-digital-1293261.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #131317;
}

body *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 160%;
}


/*------- Global ---------*/

/* ---------- central part of the project------------- */
header{
    padding-top: 32px;
    height: calc(120px + 32px);
        
}

header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #fcb972 0%, #435ee7 50.52%, #5ce269 100% );

    border-radius: 50%;
    display: flex;
    padding: 4px;
   
     /* transição da imagem de perfil */
    transition: transform .3s;
}


header  div img{
    width: 100%;
    border-radius: 50%;
   
    
}

header div:hover{
    /* transição da imagem de perfil */
    transform: scale(1.1)
}

main{
    max-width: 580px;
    width: 90%;
    margin:32px auto;

    display: grid;
    gap: 24px;

    
}



section{
    color: beige;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100% );
    padding-top: 4px;
    border-radius: 10px;
}

section div{
    background-color: #28282e;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2{
    
    letter-spacing: -0.47px;
}

section p{
    letter-spacing: -0.18px;
    color: rgb(130, 130, 130);
}

section ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
   

    margin-top: 24px;
}

section ul li{
    /* transição da lista */
    transition: transform .3s;

}

section ul li:hover{
    /* transição da lista */
    transform: scale(1.1);
}

.list-games img{
    width: 90px;
    border-radius: 8px;
}

.list-channel img{
    border-radius: 50%;
    width: 70px;
    border: 1px solid rgb(63, 54, 54);
}

/* ---------- central part of the project------------- */

/* ---------------Animation--------------------*/

header div{
    animation: home .7s  backwards ;

}

@keyframes home {
      from{
        opacity: 0;
        transform: translateY(-30px);
      }
      to{
        opacity: 0;
        transform: translateY(0);
      }
    
}

main section{
    animation: fromBottom .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0;

}

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
     animation-delay: .8s;

}

@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateX(-30px);
      }
      to{
        opacity: 0;
        transform: translateX(0);
      }
    
}
/* --------- animation ---------------*/